<div class="col-md-4 col-md-offset-4">
  <h2>New Product</h2>
  <div class="well">
      <%= form_for @product, html: { multipart: true } do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title , class: ' form-control'%>
      <%= f.label :price %>
      <%= f.number_field :price, class: ' form-control', :step => 'any' %>
      <%= f.label :image %>
      <%= f.file_field :image_url, class: ' form-control' %>
      <%= f.submit "Save", class: "btn btn-success btn-block" %>
      <% end %>
  </div>
</div>
